.search-trending .search-trending-header {
    height: 20px;
    margin-bottom: 10px
}

.search-trending .search-trending-header span {
    float: left;
    font-size: 14px;
    color: #969696
}

.search-trending .search-trending-header a {
    float: right;
    font-size: 13px;
    color: #969696;
    background-color: transparent;
    border-width: 0;
    padding: 0
}

.search-trending .search-trending-header a:hover {
    color: #2f2f2f
}

.search-trending .search-trending-header i {
    display: inline-block;
    line-height: 1;
    transition: .5s ease
}

.search-trending .search-trending-tag-wrap {
    font-size: 0
}

.search-trending .search-trending-tag-wrap li {
    margin: 4px;
    display: inline-block;
}

.search-trending .search-trending-tag-wrap li a {
    padding: 2px 6px;
    font-size: 12px;
    color: #787878;
    border: 1px solid #ddd;
    border-radius: 3px
}

.search-trending .search-trending-tag-wrap li a:hover {
    color: #333;
    border-color: #b4b4b4
}

.search-recent .search-recent-header {
    height: 20px;
    margin-bottom: 10px
}

.search-recent .search-recent-header span {
    float: left;
    font-size: 14px;
    color: #969696
}

.search-recent .search-recent-header a {
    float: right;
    font-size: 13px;
    color: #969696;
    background-color: transparent;
    border-width: 0;
    padding: 0
}

.search-recent .search-recent-header a:hover {
    color: #2f2f2f
}

.search-recent .search-recent-item-wrap li a {
    display: block;
    height: 40px;
    line-height: 20px;
    padding: 10px 15px;
    font-size: 14px;
    color: #333;
    position: relative
}

.search-recent .search-recent-item-wrap li a:hover {
    background-color: #f0f0f0;
    border-radius: 4px;
    color: red;
}

.search-recent .search-recent-item-wrap li a:hover .ic-unfollow {
    display: block
}

.search-recent .search-recent-item-wrap li a .ic-search-history {
    float: left;
    margin-right: 10px;
    font-size: 18px;
    color: #787878
}

.search-recent .search-recent-item-wrap li a span {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-right: 30px
}

.search-recent .search-recent-item-wrap li a .ic-unfollow {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #a0a0a0;
    display: none
}

.search-recent .search-recent-item-wrap li a .ic-unfollow:hover {
    color: #2f2f2f
}

#navbar-search-tips {
    position: fixed;
    margin-top: 9px;
    width: 250px;
    visibility: hidden;
    opacity: 0;
    border-radius: 4px
}

#navbar-search-tips,
#navbar-search-tips:before {
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .2)
}

#navbar-search-tips:before {
    content: "";
    left: 27px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: -5px;
    z-index: -1
}

#navbar-search-tips:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom-color: #fff;
    left: 20px;
    bottom: 99%
}

#navbar-search-tips:hover {
    visibility: visible;
    opacity: 1
}

#navbar-search-tips .search-trending {
    padding: 20px 20px 10px;
    border-bottom: 1px solid #f0f0f0
}

#navbar-search-tips .search-recent {
    padding: 5px
}

#navbar-search-tips .search-recent ul {
    list-style-type: none
}

#navbar-search-tips .search-recent ul li {
    margin-right: 0;
    width: 100%;
}

.trigger-menu {
    margin-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 0;
    list-style: none
}

.trigger-menu li {
    position: relative;
    display: inline-block;
    padding: 8px 0;
    margin-bottom: -1px
}

.btn-hollow {
    border: 1px solid rgba(59,194,29,.7);
    color: #42c02e!important;
}

.trigger-menu li:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 100%;
    opacity: 0;
    border-bottom: 2px solid #646464;
    transform: translate(-50%) scaleX(0);
    -webkit-transform: translate(-50%) scaleX(0);
    -moz-transform: translate(-50%) scaleX(0);
    -o-transform: translate(-50%) scaleX(0);
    -ms-transform: translate(-50%) scaleX(0)
}

.trigger-menu li:after,
.trigger-menu li:hover:after {
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out
}

.trigger-menu li:hover:after {
    opacity: 1;
    transform: translate(-50%) scaleX(1);
    -webkit-transform: translate(-50%) scaleX(1);
    -moz-transform: translate(-50%) scaleX(1);
    -o-transform: translate(-50%) scaleX(1);
    -ms-transform: translate(-50%) scaleX(1)
}

.trigger-menu li.active {
    border-bottom: 2px solid #646464
}

.trigger-menu i {
    margin-right: 5px;
    font-size: 17px
}

.trigger-menu a {
    padding: 13px 20px;
    font-size: 15px;
    font-weight: 700;
    color: #969696;
    line-height: 25px
}

.trigger-menu .active a,
.trigger-menu a:hover {
    color: #646464
}

.trigger-menu .search {
    float: right;
    padding: 0
}

.trigger-menu .back-main {
    float: right
}

.trigger-menu .back-main a {
    padding: 0;
    color: #333
}

.trigger-menu .back-main a:hover {
    color: #2f2f2f
}

.trigger-menu .back-main i {
    font-size: 14px;
    vertical-align: middle
}

.trigger-menu .back-main span {
    vertical-align: middle
}

.trigger-menu input {
    float: right;
    width: 130px;
    border: none
}

.avatar img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.avatar {
    width: 32px;
    height: 32px;
    display: block;
    cursor: pointer;
}

.col-xs-1 {
    width: 66.66667%;
    float: left;
}
.col-xs-2 {
    width: 24%;
    float:left;
}

@font-face {
		font-family: 'iconfont';
		src: url('../../fonts/iconfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
}

.iconfont {
    font-family: iconfont!important;
    font-size: inherit;
    font-style: normal;
    font-weight: 400!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ic-info:before {
    content: "\E60C"
}

.ic-arrow:before {
    content: "\E61E"
}

.ic-search:before {
    content: "\E618"
}

.ic-qq_connect:before {
    content: "\E603"
}

.ic-douban:before {
    content: "\E601"
}

.ic-location:before {
    content: "\E627"
}

.ic-next:before {
    content: "\E62D"
}

.ic-previous:before {
    content: "\E62F"
}

.ic-unfollow:before {
    content: "\E631"
}

.ic-phone:before {
    content: "\E602"
}

.ic-catalog:before {
    content: "\E694"
}

.ic-search-history:before {
    content: "\E640"
}

.ic-share-more:before {
    content: "\E623"
}

.ic-work:before {
    content: "\E628"
}

.ic-share-wechat:before {
    content: "\E625"
}

.ic-education:before {
    content: "\E62B"
}

.ic-social:before {
    content: "\E62A"
}

.ic-question:before {
    content: "\E60D"
}

.ic-google_oauth2:before {
    content: "\E600"
}

.ic-share-weibo:before {
    content: "\E626"
}

.ic-edit-s:before {
    content: "\E619"
}

.ic-wechat:before {
    content: "\E604"
}

.ic-weibo:before {
    content: "\E605"
}

.ic-hot:before {
    content: "\E607"
}

.ic-feed:before {
    content: "\E608"
}

.ic-latestcomments:before {
    content: "\E609"
}

.ic-articles:before {
    content: "\E60A"
}

.ic-official:before {
    content: "\E60B"
}

.ic-write:before {
    content: "\E60E"
}

.ic-discover-collections:before {
    content: "\E61A"
}

.ic-discover-user:before {
    content: "\E61B"
}

.ic-back:before {
    content: "\E61C"
}

.ic-article-mark:before {
    content: "\E629"
}

.ic-article-like:before {
    content: "\E62C"
}

.ic-collections-followed:before {
    content: "\E62E"
}

.ic-collection:before {
    content: "\E615"
}

.ic-settings-money:before {
    content: "\E63A"
}

.ic-settings-profile:before {
    content: "\E63B"
}

.ic-settings-basic:before {
    content: "\E63C"
}

.ic-settings-verify:before {
    content: "\E63D"
}

.ic-settings-account:before {
    content: "\E63E"
}

.ic-settings-block:before {
    content: "\E63F"
}

.ic-search-collection:before {
    content: "\E641"
}

.ic-search-notebook:before {
    content: "\E643"
}

.ic-money:before {
    content: "\E606"
}

.ic-comment-emotions:before {
    content: "\E64A"
}

.ic-comment-at:before {
    content: "\E64B"
}

.ic-navigation-night:before {
    content: "\E64D"
}

.ic-navigation-mark:before {
    content: "\E64F"
}

.ic-navigation-profile:before {
    content: "\E650"
}

.ic-navigation-help:before {
    content: "\E651"
}

.ic-navigation-settings:before {
    content: "\E652"
}

.ic-navigation-wallet:before {
    content: "\E653"
}

.ic-navigation-like:before {
    content: "\E654"
}

.ic-navigation-feedback:before {
    content: "\E655"
}

.ic-filter:before {
    content: "\E657"
}

.ic-subscribed:before {
    content: "\E630"
}

.ic-fail:before {
    content: "\E65B"
}

.ic-addcollection:before {
    content: "\E65C"
}

.ic-phonenumber:before {
    content: "\E65D"
}

.ic-user:before {
    content: "\E65E"
}

.ic-list-comments:before {
    content: "\E660"
}

.ic-list-like:before {
    content: "\E661"
}

.ic-list-read:before {
    content: "\E662"
}

.ic-list-money:before {
    content: "\E60F"
}

.ic-followed:before {
    content: "\E610"
}

.ic-follow:before {
    content: "\E611"
}

.ic-friends:before {
    content: "\E617"
}

.ic-like-active:before {
    content: "\E613"
}

.ic-like:before {
    content: "\E663"
}

.ic-navigation-signout:before {
    content: "\E61D"
}

.ic-others:before {
    content: "\E633"
}

.ic-requests:before {
    content: "\E635"
}

.ic-follows:before {
    content: "\E636"
}

.ic-chats:before {
    content: "\E637"
}

.ic-comments:before {
    content: "\E656"
}

.ic-likes:before {
    content: "\E664"
}

.ic-woman:before {
    content: "\E645"
}

.ic-man:before {
    content: "\E646"
}

.ic-password:before {
    content: "\E614"
}

.ic-ios:before {
    content: "\E612"
}

.ic-error:before {
    content: "\E648"
}

.ic-qrcode:before {
    content: "\E649"
}

.ic-android:before {
    content: "\E65F"
}

.ic-verify:before {
    content: "\E61F"
}

.ic-show:before {
    content: "\E621"
}

.ic-hide:before {
    content: "\E622"
}

.ic-previous-s:before {
    content: "\E647"
}

.ic-next-s:before {
    content: "\E659"
}

.ic-go:before {
    content: "\E65A"
}

.ic-none:before {
    content: "\E665"
}

.ic-zan-active:before {
    content: "\E638"
}

.ic-comment:before {
    content: "\E639"
}

.ic-zan:before {
    content: "\E666"
}

.ic-share:before {
    content: "\E683"
}

.ic-backtop:before {
    content: "\E684"
}

.ic-addcollectionmodal:before {
    content: "\E668"
}

.ic-link:before {
    content: "\E616"
}

.ic-more:before {
    content: "\E620"
}

.ic-report:before {
    content: "\E624"
}

.ic-block:before {
    content: "\E632"
}

.ic-delete:before {
    content: "\E66B"
}

.ic-email:before {
    content: "\E66C"
}

.ic-recommend:before {
    content: "\E66D"
}

.ic-city:before {
    content: "\E66E"
}

.ic-recommend-collection:before {
    content: "\E66F"
}

.ic-recommend-user:before {
    content: "\E670"
}

.ic-article-s:before {
    content: "\E671"
}

.ic-collection-s:before {
    content: "\E672"
}

.ic-subcomment:before {
    content: "\E698"
}

.ic-navigation-discover:before {
    content: "\E69A"
}

.ic-navigation-notification:before {
    content: "\E69B"
}

.ic-navigation-follow:before {
    content: "\E69C"
}

.ic-navigation-download:before {
    content: "\E69D"
}

.ic-successed:before {
    content: "\E69E"
}

.ic-unblock:before {
    content: "\E6A2"
}

.ic-applying:before {
    content: "\E6A7"
}

.ic-addpeople:before {
    content: "\E6A8"
}

.ic-mark:before {
    content: "\E6AF"
}

.ic-search-user:before {
    content: "\E6B0"
}

.ic-search-note:before {
    content: "\E6B1"
}

.ic-picture:before {
    content: "\E6B2"
}

.ic-navigation-mode:before {
    content: "\E6B5"
}

.ic-mark-active:before {
    content: "\E6B7"
}

.ic-note-requests:before {
    content: "\E6BC"
}

.ic-search-change:before {
    content: "\E6E3"
}