<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context-4.0.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
                     http://www.springframework.org/schema/mvc
                     http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	
	<context:component-scan base-package="com.tourInteraction.serviceImpl"></context:component-scan>
	
	<!-- 配置源 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/tourinteraction"></property>
		<property name="username" value="root"></property>
		<property name="password" value="911914786"></property>
	</bean>
	
	 <!--配置SqlSessionFactory对象-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
        
        <!--配置mybatis全局配置文件:mybatis-config.xml-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        
        <!--扫描entity包,使用别名,多个用;隔开-->
        <property name="typeAliasesPackage" value="com.tourInteraction.entity"/>

        <!--扫描sql配置文件:mapper需要的xml文件-->
        	<!--扫描指定包下的xml  -->
	       <!-- <property name="mapperLocations" value="classpath:com/tourInteraction/mapper/*.xml"/> -->
	        <!--扫描指定包及子包下的xml  -->
	       <!-- <property name="mapperLocations" value="classpath:com/tourInteraction/**/*.xml"/> -->
	        <!--扫描多个路径的xml  -->
	       <property name="mapperLocations">
	       	<array>
	       		<value>classpath:com/tourInteraction/mapper/*.xml</value>
	       		<value>classpath:com/tourInteraction/mapper/article/*.xml</value>
	       	</array>
	       </property>
    </bean>
    

	<!-- mybatis的Mapper的扫描器 MapperScannerConfigure 会自动扫描 dao包下的所有接口自动生成代理对象: 
		对象名字为Mapper接口类名(首字母小写) -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 给出需要扫描Dao接口包 -->
		<property name="basePackage" value="com.tourInteraction.dao"></property>
		<!-- SqlSessionFactoryBeanName -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>
		
	<!--配置事务管理器 （ 必须先把包放到spring，这里是扫描的，否则事务管理失效）-->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<tx:annotation-driven transaction-manager="txManager"/>
</beans>